@model travelix.Model.Entities.Tour;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input type="number" class="form-control" id="searchTerm" placeholder="Type here...">
                    </div>
                </div>

                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Bảng tour du lịch</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mã tour</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mã địa điểm</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá (VND)</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Điểm đón</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Link ảnh</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Hướng dẫn viên</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phương tiện</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-plus py-2"> </i>
    </a>
</div>

<div class="modal js-modal" id="tourModal" tabindex="-1">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="fas fa-times"></i>
        </div>
        <header class="modal-header">
            Thông tin tour
        </header>
        <form class="modal-body" id="modal_form">
            <div class="row" id="hide_element">
                <label class="col-sm-8 col-form-label">Mã tour</label>
                <div class="">
                    <input asp-for="IdTour" class="form-control ipt_id-Tour" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Mã địa điểm</label>
                <div class="">
                    <input asp-for="IdDiaDiem" class="form-control ipt_id-DiaDiem" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Giá</label>
                <div class="">
                    <input asp-for="Gia" class="form-control ipt_gia" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Điểm đón</label>
                <div class="">
                    <input asp-for="DiemDon" class="form-control ipt_diemDon" required />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Link ảnh</label>
                <div class="">
                    <textarea asp-for="Anh" rows="1" class="form-control ipt_anh" required></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Hướng dẫn viên</label>
                <div class="">
                    <textarea asp-for="HuongDanVien" rows="1" class="form-control" required></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Phương tiện</label>
                <div class="">
                    <textarea asp-for="PhuongTien" rows="1" class="form-control" required></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Ghi chú</label>
                <div class="">
                    <textarea asp-for="GhiChu" rows="1" class="form-control" required></textarea>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn_form btn_Add" id="btn_add" data-bs-dismiss="modal" onclick="return add()">Lưu</button>
            <button type="button" class="btn btn_form btn_Update" id="btn_update" data-bs-dismiss="modal" onclick="return update()">Cập nhật</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#searchTerm').on('input', function () {
            var searchTerm = $(this).val();

            if (searchTerm.trim() === '') {
                // Nếu ô input trống, load lại bảng gốc
                loadData();
                return;
            }

            searchCustomer(searchTerm);
        });

        function searchCustomer() {
            var searchTerm = $('#searchTerm').val();

            $.ajax({
                url: '/Search/SearchTour',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (result) {
                    if (result.length > 0) {
                        var data = '';
                        $.each(result, function (key, item) {
                            data += '<tr>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idTour + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idDiaDiem + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.gia + ' đ</p></td>';
                            data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.diemDon + '</p></td>';
                            data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.anh + '</p></td>';
                            data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.huongDanVien + '</p></td>';
                            data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.phuongTien + '</p></td>';
                            data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.ghiChu + '</p></td>';
                            data += '<td><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return getById(' + item.idTour + ')"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return deleteCate(' + item.idTour + ')"><i class="far fa-trash-alt me-2"></i>Delete</a></td> ';
                            data += '</tr>';
                        });
                        $('.tbody').html(data);
                    } else {
                        var noResultsRow = '<tr><td><p class="text-xs font-weight-bold mb-0">Không có kết quả.</p></td></tr>';
                        $('.tbody').html(noResultsRow);
                    }
                }
            });
        }
    });
</script>

<script type="text/javascript">

    const add_active = document.getElementById('add_Active-tour');
    add_active.classList.add('active');

    $(document).ready(function () {
        loadData();
    });

    function loadData() {
        $.ajax({
            url: '/Tour/List',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<tr>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idTour + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idDiaDiem + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.gia + ' đ</p></td>';
                    data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.diemDon + '</p></td>';
                    data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.anh + '</p></td>';
                    data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.huongDanVien + '</p></td>';
                    data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.phuongTien + '</p></td>';
                    data += '<td class="showTextOnLine"><p class="text-xs font-weight-bold mb-0">' + item.ghiChu + '</p></td>';
                    data += '<td><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return getById(' + item.idTour + ')"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return deleteCate(' + item.idTour + ')"><i class="far fa-trash-alt me-2"></i>Delete</a></td> ';
                    data += '</tr>';
                });
                $('.tbody').html(data);
            },
            error: function (error) {
                console.log("Error: " + error.responseText);
            }
        });
    }

    function add() {
        var tour = {
            IdTour: $('#IdTour').val(),
            IdDiaDiem: $('#IdDiaDiem').val(),
            Gia: $('#Gia').val(),
            DiemDon: $('#DiemDon').val(),
            Anh: $('#Anh').val(),
            HuongDanVien: $('#HuongDanVien').val(),
            PhuongTien: $('#PhuongTien').val(),
            GhiChu: $('#GhiChu').val()
        };

        const inputIdTourValue = document.querySelector('.ipt_id-Tour').value;
        const inputIdDiaDiemValue = document.querySelector('.ipt_id-DiaDiem').value;
        const inputGiaValue = document.querySelector('.ipt_gia').value;
        const inputDiemDonValue = document.querySelector('.ipt_diemDon').value;
        const inputAnhValue = document.querySelector('.ipt_anh').value;

        if (inputIdTourValue === "" || inputIdDiaDiemValue === "" || inputGiaValue === "" || inputDiemDonValue === "" || inputAnhValue === "") {
            alert("Các trường không được để trống!");
        } else {
            $.ajax({
                url: "/Tour/Add",
                data: JSON.stringify(tour),
                type: "POST",
                contentType: 'application/json;charset=utf-8',
                dataType: 'JSON',
                success: function (result) {
                    loadData();
                    $("#tourModal").removeClass("open");
                    $("#btn_update").removeClass("closeBtnUpdate");
                    $('#IdTour').val("");
                    $('#IdDiaDiem').val("");
                    $('#Gia').val("");
                    $('#DiemDon').val("");
                    $('#Anh').val("");
                    $('#HuongDanVien').val("");
                    $('#PhuongTien').val("");
                    $('#GhiChu').val("");
                },
                error: function (error) {
                    console.log("Error: " + error.responseText);
                }
            });
        }
    }

    function getById(id) {
        $.ajax({
            url: "/Tour/GetById",
            data: { id: id },
            contentType: "application/json;charset=utf-8",
            type: "GET",
            success: function (result) {
                $("#IdTour").val(result.idTour);
                $("#IdDiaDiem").val(result.idDiaDiem);
                $("#Gia").val(result.gia);
                $("#DiemDon").val(result.diemDon);
                $("#Anh").val(result.anh);
                $("#HuongDanVien").val(result.huongDanVien);
                $("#PhuongTien").val(result.phuongTien);
                $("#GhiChu").val(result.ghiChu);
                //hiển thị modal
                $("#tourModal").addClass("open");
                $("#btn_add").addClass("closeBtnAdd");
                $("#hide_element").addClass("d-none");
            }
        });
    }

    function update() {
        //Lấy các giá trị trong textbox
        var tour = {
            IdTour: $('#IdTour').val(),
            IdDiaDiem: $('#IdDiaDiem').val(),
            Gia: $('#Gia').val(),
            DiemDon: $('#DiemDon').val(),
            Anh: $('#Anh').val(),
            HuongDanVien: $('#HuongDanVien').val(),
            PhuongTien: $('#PhuongTien').val(),
            GhiChu: $('#GhiChu').val()
        };

        $.ajax({
            url: "/Tour/Update",
            data: JSON.stringify(tour),
            type: "POST",
            dataType: "JSON",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                loadData();
                $("#tourModal").removeClass("open");
                $("#hide_element").removeClass("d-none");
                $("#btn_add").removeClass("closeBtnAdd");
                $('#IdTour').val("");
                $('#IdDiaDiem').val("");
                $('#Gia').val("");
                $('#DiemDon').val("");
                $('#Anh').val("");
                $('#HuongDanVien').val("");
                $('#PhuongTien').val("");
                $('#GhiChu').val("");
            }
        });
    }

    function deleteCate(id) {
        var ans = confirm("Bạn có chắc chắn xóa không?")
        if (ans) {
            $.ajax({
                url: "/Tour/Delete",
                data: { id: id },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    loadData();
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }
    }
</script>

