
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="home">

    <!-- Home Slider -->

    <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">
            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background"
                     style="background-image:url(/assets_user/images/slide1.jpg)"></div>

                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX"
                         data-animation-out="animate-out fadeOut">
                        <h1>Khám phá</h1>
                        <h1>Việt Nam</h1>
                        <div class="button home_slider_button">
                            <div class="button_bcg"></div><a href="#">
                                Đặt tour
                                Ngay<span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background"
                     style="background-image:url(/assets_user/images/slide2.jpg)"></div>

                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX"
                         data-animation-out="animate-out fadeOut">
                        <h1>Khám phá</h1>
                        <h1>Việt Nam</h1>
                        <div class="button home_slider_button">
                            <div class="button_bcg"></div><a href="#">
                                Đặt tour
                                ngay<span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background"
                     style="background-image:url(/assets_user/images/slide3.jpg)"></div>

                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX"
                         data-animation-out="animate-out fadeOut">
                        <h1>Khám phá</h1>
                        <h1>Việt Nam</h1>
                        <div class="button home_slider_button">
                            <div class="button_bcg"></div><a href="#">
                                Đặt tour
                                ngay<span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Home Slider Nav - Prev -->
        <div class="home_slider_nav home_slider_prev">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px"
                 viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_prev'>
            <stop offset='0%' stop-color='#fa9e1b' />
            <stop offset='100%' stop-color='#8d4fff' />
            </linearGradient>
          </defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
        M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
        C22.545,2,26,5.541,26,9.909V23.091z" />
            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
        11.042,18.219 " />
        </svg>
        </div>

        <!-- Home Slider Nav - Next -->
        <div class="home_slider_nav home_slider_next">
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px"
                 viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_next'>
            <stop offset='0%' stop-color='#fa9e1b' />
            <stop offset='100%' stop-color='#8d4fff' />
            </linearGradient>
          </defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
      M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
      C22.545,2,26,5.541,26,9.909V23.091z" />
            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
      17.046,15.554 " />
        </svg>
        </div>

        <!-- Home Slider Dots -->

        <div class="home_slider_dots">
            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active">
                    <div></div>01.
                </li>
                <li class="home_slider_custom_dot">
                    <div></div>02.
                </li>
                <li class="home_slider_custom_dot">
                    <div></div>03.
                </li>
            </ul>
        </div>

    </div>

</div>

<!-- Intro -->

<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">Chúng tôi có những tour du lịch chất lượng nhất</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro_text text-center">
                    <p>Những tour du lịch cao cấp</p>
                </div>
            </div>
        </div>
        <div class="row intro_items body_intro">

        </div>
    </div>
</div>

<!-- Offers -->

<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Các tour giá rẻ bất ngờ</h2>
            </div>
        </div>
        <div class="row offers_items body_offers">
            
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        loadSixTou();
    });

    function loadSixTou() {
        $.ajax({
            url: '/TourList/GetTourDetails',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (result) {

                var topSixToursMax = result.sort(function (a, b) {
                    return b.gia - a.gia;
                }).slice(0, 6);

                var TopSixToursMin = result.sort(function (a, b) {
                    return a.gia - b.gia;
                }).slice(0, 6);

                var data = '';
                $.each(topSixToursMax, function (key, item) {
                    data += '<div class="col-lg-4 intro_col" style ="margin-top: 25px;">';
                    data += '<div class="intro_item">';
                    data += '<div class="intro_item_overlay"></div>';
                    data += '<div class="intro_item_background" style="background-image:url('+ item.anh +');" ></div >';
                    data += '<div class="intro_item_content d-flex flex-column align-items-center justify-content-center">';
                    data += '<div class="intro_date">' + item.diemDon + '</div>';
                    data += '<div class="button intro_button">';
                    data += '<div class="button_bcg"></div><a href="/User/TourDetail/Index/' + item.idTour +'" onclick="UrlToSession(event)">Xem ngay <span></span><span></span><span></span></a>';
                    data += '</div>';
                    data += '<div class="intro_center text-center">';
                    data += '<h1>' + item.tenDiaDanh + '</h1>';
                    data += '<div class="intro_price">Giá: ' + item.gia + ' VNĐ</div>';
                    data += '</div>';
                    data += '</div>';
                    data += '</div>';
                    data += '</div>';

                });
                $('.body_intro').html(data);

                
                var dataMin = '';
                $.each(TopSixToursMin, function (key, item) {
                    dataMin += '<div class="col-lg-6 offers_col">';
                    dataMin += '<div class="offers_item">';
                    dataMin += '<div class="row">';
                    dataMin += '<div class="col-lg-6">';
                    dataMin += '<div class="offers_image_container">';
                    dataMin += '<div class="offers_image_background" style = "background-image:url(' + item.anh + ')" ></div >';
                    dataMin += '</div>';
                    dataMin += '</div>';
                    dataMin += '<div class="col-lg-6">';
                    dataMin += '<div class="offers_content">';
                    dataMin += '<div class="offers_price">' + item.gia + ' VNĐ</div>';
                    dataMin += '<p class="offers_text">Địa danh: ' + item.tenDiaDanh + '</p >';
                    dataMin += '<p class="offers_text">Điểm đón: ' + item.diemDon + '</p >';
                    dataMin += '<div class="offers_link"><a href="/User/TourDetail/Index/' + item.idTour +'" onclick="UrlToSession(event)">Xem ngay</a></div>';
                    dataMin += '</div>';
                    dataMin += '</div>';
                    dataMin += '</div>';
                    dataMin += '</div>';
                    dataMin += '</div>';
                });
                $('.body_offers').html(dataMin);
            },
            error: function (error) {
                console.log("Error: " + error.responseText);
            }
        });
    }

    function UrlToSession(event) {
        event.preventDefault();

        var url = event.currentTarget.getAttribute("href");

        $.ajax({
            type: "POST",
            url: "/SignInSignUp/SaveReturnUrlToSession",
            data: { url: url },
            success: function (response) {
                console.log("URL saved to session");
                window.location.href = url;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>