@model travelix.Model.Entities.Khachhang;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text text-body" id="btnSearch"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="searchTerm" placeholder="Type here...">
                    </div>
                </div>

                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Bảng khách hàng</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mã khách hàng</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tên khách hàng</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Số điện thoại</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ngày sinh</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal js-modal" id="tourModal" tabindex="-1">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="fas fa-times"></i>
        </div>
        <header class="modal-header">
            Thông tin khách hàng
        </header>
        <form class="modal-body" id="modal_form">
            <div class="row" id="hide_element">
                <label class="col-sm-8 col-form-label">Mã khách hàng</label>
                <div class="">
                    <input asp-for="IdKhachHang" class="form-control ipt_id-KhachHang" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Tên khách hàng</label>
                <div class="">
                    <input asp-for="TenKhachHang" class="form-control ipt_TenKhachHang" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label class="col-sm-8 col-form-label">Số điện thoại</label>
                <div class="">
                    <input asp-for="SoDienThoai" class="form-control ipt_SoDienThoai" required min="1" max="999999999" />
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-8 col-form-label">Ngày sinh</label>
                <div class="">
                    <input asp-for="NgaySinh" type="date" class="form-control ipt_NgaySinh" required />
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-8 col-form-label">Email</label>
                <div class="">
                    <input asp-for="Email" type="email" class="form-control ipt_Email" required />
                </div>
            </div>
            <div class="row" id="hide_elementPass">
                <label for="inputPassword" class="col-sm-8 col-form-label">Mật khẩu</label>
                <div class="">
                    <input asp-for="MatKhau" type="password" class="form-control ipt_MatKhau" required />
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn_form btn_Update" id="btn_update" data-bs-dismiss="modal" onclick="return update()">Cập nhật</button>
        </div>
    </div>
</div>

<script src="~/assets_user/js/Validation.js"></script>

<script>
    $(document).ready(function () {

        $('#searchTerm').on('input', function () {
            var searchTerm = $(this).val();

            if (searchTerm.trim() === '') {
                // Nếu ô input trống, load lại bảng gốc
                loadData();
                return;
            }

            searchCustomer(searchTerm);
        });

        function searchCustomer() {
            var searchTerm = $('#searchTerm').val();

            $.ajax({
                url: '/Search/SearchCustomer',
                type: 'GET',
                data: { searchTerm: searchTerm },
                success: function (result) {
                    if (result.length > 0) {
                        var data = '';
                        $.each(result, function (key, item) {
                            var date = new Date(item.ngaySinh);
                            var year = date.getFullYear();
                            var month = ('0' + (date.getMonth() + 1)).slice(-2);
                            var day = ('0' + date.getDate()).slice(-2);
                            data += '<tr>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idKhachHang + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.tenKhachHang + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.soDienThoai + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + day + ' - ' + month + ' - ' + year + '</p></td>';
                            data += '<td><p class="text-xs font-weight-bold mb-0">' + item.email + '</p></td>';
                            data += '<td><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return getById(' + item.idKhachHang + ')"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return deleteCate(' + item.idKhachHang + ')"><i class="far fa-trash-alt me-2"></i>Delete</a></td> ';
                            data += '</tr>';
                        });
                        $('.tbody').html(data);
                    } else {
                        var noResultsRow = '<tr><td><p class="text-xs font-weight-bold mb-0">Không có kết quả.</p></td></tr>';
                        $('.tbody').html(noResultsRow);
                    }
                }
            });
        }
    });
</script>

<script type="text/javascript">

    const add_active = document.getElementById('add_Active-customer');
    add_active.classList.add('active');

    $(document).ready(function () {
        loadData();
    });

    function loadData() {
        $.ajax({
            url: '/Customer/List',
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'JSON',
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    var date = new Date(item.ngaySinh);
                    var year = date.getFullYear();
                    var month = ('0' + (date.getMonth() + 1)).slice(-2);
                    var day = ('0' + date.getDate()).slice(-2);
                    data += '<tr>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.idKhachHang + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.tenKhachHang + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.soDienThoai + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + day + ' - ' + month + ' - ' + year + '</p></td>';
                    data += '<td><p class="text-xs font-weight-bold mb-0">' + item.email + '</p></td>';
                    data += '<td><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return getById(' + item.idKhachHang + ')"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a><a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" onclick="return deleteCate(' + item.idKhachHang + ')"><i class="far fa-trash-alt me-2"></i>Delete</a></td> ';
                    data += '</tr>';
                });
                $('.tbody').html(data);
            },
            error: function (error) {
                console.log("Error: " + error.responseText);
            }
        });
    }


    function getById(id) {
        $.ajax({
            url: "/Customer/GetById",
            data: { id: id },
            type: "GET",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                var myDate = new Date(result.ngaySinh);
                myDate.setDate(myDate.getDate() + 1);
                var myDateString = myDate.toISOString().slice(0, 10);
                console.log(myDateString)
                document.getElementById('NgaySinh').value = myDateString;
                $("#IdKhachHang").val(result.idKhachHang);
                $("#TenKhachHang").val(result.tenKhachHang);
                $("#SoDienThoai").val(result.soDienThoai);
                $("#Email").val(result.email);
                $("#MatKhau").val(result.matKhau);
                //hiển thị modal
                $("#tourModal").addClass("open");
                $("#hide_element").addClass("d-none");
                $("#hide_elementPass").addClass("d-none");
            }
        });
    }

    function update() {
        //Lấy các giá trị trong textbox
        var Customer = {
            IdKhachHang: $('#IdKhachHang').val(),
            TenKhachHang: $('#TenKhachHang').val(),
            SoDienThoai: $('#SoDienThoai').val(),
            NgaySinh: $('#NgaySinh').val(),
            Email: $('#Email').val(),
            MatKhau: $('#MatKhau').val(),
        };

        const inputIdKhachHangValue = document.querySelector('.ipt_id-KhachHang').value;
        const inputTenKhachHangValue = document.querySelector('.ipt_TenKhachHang').value;
        const inputSoDienThoaiValue = document.querySelector('.ipt_SoDienThoai').value;
        const inputNgaySinhValue = document.querySelector('.ipt_NgaySinh').value;
        const inputEmailValue = document.querySelector('.ipt_Email').value;

        if (inputIdKhachHangValue === "" || inputTenKhachHangValue === "" || inputSoDienThoaiValue === "" || inputNgaySinhValue === "" || inputEmailValue === "") {
            alert("Các trường không được để trống!");
        } else
        if (inputSoDienThoaiValue.length !=10) {
            alert("Số điện thoại phải 10 số!");
        } else
        if (!isGmailEmail(inputEmailValue)) {
            alert("Email phải có định dạng abc@gmail.com");
        } else {
            $.ajax({
                url: "/Customer/Update",
                data: JSON.stringify(Customer),
                type: "POST",
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    loadData();
                    $("#tourModal").removeClass("open");
                    $("#hide_element").removeClass("d-none");
                    $('#IdKhachHang').val("");
                    $('#TenKhachHang').val("");
                    $('#SoDienThoai').val("");
                    $('#NgaySinh').val("");
                    $('#Email').val("");
                    $('#MatKhau').val("");
                }
            });
        }
    }

    function deleteCate(id) {
        var ans = confirm("Bạn có chắc chắn xóa không?")
        if (ans) {
            $.ajax({
                url: "/Customer/Delete",
                data: { id: id },
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    loadData();
                },
                error: function (e) {
                    alert(e.responseText);
                }
            });
        }
    }
</script>

